# Google Service Account credentials (from JSON key file)
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Spreadsheet IDs
AMAZON_SPREADSHEET_ID=your_amazon_spreadsheet_id
AMAZON_GID=0
WALMART_SPREADSHEET_ID=1g1S1oF-ctOwIixQ7VTzzL_R6mEpOgSQbLcH_4kXpHSk
WALMART_GID=0
MAIN_SPREADSHEET_ID=1ybVbxN7dporSwYVyFks8p-RgMqmnUTBDaHyAfqLtB70
